<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Klickibunti</title>
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">-->
    <style>
         .resizable {
            float:left;
            position:absolute;
            margin:10px;
            background: hotpink;
        }

        .draggable {
            background: hotpink;
            float: left;
        }

        body {
          background-image: url('static/img/background.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
        }



    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( ".resizable" ).resizable({
                  aspectRatio: 5 / 7
            });
        } );

        $( function() {
            $( ".draggable" ).draggable();
        } );


    </script>
</head>
<body>

{% for displate in displates %}
<div class="draggable">
    <img src="{{url_for('static', filename='img/'+displate.image)}}" width='290' height='406' class="resizable "/>
</div>
{% endfor %}

</body>
</html>